In [2]:
import pandas as pd
import random

# Function to generate a random 11-digit number
def generate_random_number():
    return ''.join([str(random.randint(0, 9)) for _ in range(11)])

# Function to generate a random 12-digit Aadhar number starting with 4, 5, 6, or 9
def generate_aadhar_number():
    first_digit = str(random.choice([4, 5, 6, 9]))
    rest_of_number = generate_random_number()
    return first_digit + rest_of_number

# Generate 20,000 Aadhar numbers
aadhar_numbers = [generate_aadhar_number() for _ in range(20000)]

# Create a DataFrame
aadhar_df = pd.DataFrame({'Adhar_numbers': aadhar_numbers})

# Save the DataFrame to a CSV file
aadhar_df.to_csv('adhar_database.csv', index=False)

print("Aadhar numbers generated and saved to 'adhar_database.csv'.")

Aadhar numbers generated and saved to 'adhar_database.csv'.

In [6]:
import pandas as pd

# Create an empty DataFrame with the desired columns
df = pd.DataFrame(columns=['adhar_number', 'otp', 'voted'])

# Define your new Aadhar card number
new_adhar_number = '123456789012'

# Append the new Aadhar card number to the DataFrame
df = df.append({'adhar_number': new_adhar_number, 'otp': None, 'voted': None}, ignore_index=True)

# Display the updated DataFrame
print(df)
df.to_csv("voting_data.csv")

   adhar_number   otp  voted
0  123456789012  None  False

In [13]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('voting_data.csv')

# Update the DataFrame with a new Aadhar card number
new_adhar_number = '987654321098'
df = df.append({'adhar_number': new_adhar_number, 'otp': None, 'voted': None}, ignore_index=True)

# Save the updated DataFrame back to the CSV file
df.to_csv('voting_data.csv', index=False)

In [14]:
df

   Unnamed: 0  adhar_number  otp  voted
0         0.0  123456789012  NaN  False
1         NaN  987654321098  NaN  False
2         NaN  987654321098  NaN  False
3         NaN  987654321098  NaN    NaN
4         NaN  987654321098  NaN   None